<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/topojson.v0.min.js" type="text/javascript"></script>
    <script src="~/js/myMap.js" type="text/javascript"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/updater.js"></script>
</body>
</html>
